* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:host {
  display: block;
  background: url("../login/so.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.form-box {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.forget-password-container {
  width: 100%;
}

header {
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

.pb-4 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.avatar-md {
  width: 80px;
  height: 80px;
}

.alert {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  margin-bottom: 15px; /* Space between inputs */
}

.input-field {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.3s ease;
  margin-bottom: 15px; /* Space between inputs */
}

.input-field:hover,
.input-field:focus {
  background: rgba(255, 255, 255, 0.3);
}

.input-field::placeholder {
  color: #ddd;
}

.input-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 20px;
}

.submit {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  background: #27c0ac;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submit:hover {
  background: #219a88;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 540px) {
  .form-box {
    padding: 20px;
  }
}
