<div class="wrapper">
  <div class="form-box">
    <div class="forget-password-container" id="forget-password">
      <div class="top">
        <header>{{'FORGET_PASSWORD.TITLE' | translate}}</header>
        <div class="pb-4" *ngIf="step1">
          <img src="assets/images/email.png" alt="Email" class="avatar-md" />
        </div>
      </div>
      <div class="alert alert-warning text-center mb-2 mx-2" role="alert" *ngIf="step1">
        {{'FORGET_PASSWORD.msj' | translate}}
      </div>
      <form [formGroup]="formForgetPassword">
        <div class="input-box" *ngIf="step1">
          <input type="text" class="input-field" name="email" placeholder="Email" required formControlName="email">
          <i class="bx bx-user"></i>
        </div>
        <div class="input-box" *ngIf="step2">
          <input type="text" class="input-field" placeholder="Code" [(ngModel)]="myCode">
          <input type="password" class="input-field" formControlName="password" placeholder="New Password">
        </div>
      </form>
      <div class="input-box">
        <button type="button" class="submit" *ngIf="step1" (click)="forgetPassword()">{{'FORGET_PASSWORD.SEND' | translate}}</button>
        <button type="button" class="submit" *ngIf="step2" (click)="forgetPassword2()">{{'FORGET_PASSWORD.SEND' | translate}}</button>
      </div>
    </div>
  </div>
</div>


