

    <div class="row mt-4 mb-14 ml-4 mr-4">
      <div class="col-12">
        <div class="card bg-transparent shadow-none">
          <div class="card-content">
            <div class="card-body py-2">
              <div class="main-wrapper-content">
                <div class="wrapper-content active">
                  <div class="text-center p-md-4 p-sm-1 py-1 p-0">
                    <h1 class="faq-title" style="color: #ffc400;">{{'FAQ.TITLE' | translate}}</h1>
                    <p>{{'FAQ.INTRODUCTION' | translate}}</p>
                  </div>
                  <div class="card">
                    <div class="card-body">
                    <div class="row">
                      <div class="col-xl-4">
                        <h5 class="card-title mb-3">{{'FAQ.GENERAL' | translate}}</h5>
                        <!-- <p class="text-muted">{{'FAQ.DESCRIPTION' | translate}}</p> -->
                      </div><!--end col-->

                      <div class="col-xl-8">
                        <div class="card">
                          <div class="accordion" id="faqAccordion3">
                            <div class="card-content">
                              <div class="card-body">
                                <ngb-accordion  #acc="ngbAccordion">
                                  <ngb-panel>
                                    <ng-template ngbPanelTitle >
                                      <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion1"
                                         class="card-title" >{{'FAQ.Q1' | translate}}</a>
                                    </ng-template>


                                    <ng-template ngbPanelContent>
                                      <p>{{'FAQ.A1' | translate}}</p>
                                    </ng-template>
                                  </ngb-panel>


                                <ngb-panel>
                                  <ng-template ngbPanelTitle >
                                    <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion1"
                                       class="card-title" >{{'FAQ.Q2' | translate}}</a>
                                  </ng-template>


                                  <ng-template ngbPanelContent>
                                    <p>{{'FAQ.A2' | translate}}</p>
                                  </ng-template>
                                </ngb-panel>

                                <ngb-panel>
                                  <ng-template ngbPanelTitle >
                                    <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion1"
                                       class="card-title" >{{'FAQ.Q3' | translate}}</a>
                                  </ng-template>


                                  <ng-template ngbPanelContent>
                                    <p>{{'FAQ.A3' | translate}}</p>
                                  </ng-template>
                                </ngb-panel>

                                <ngb-panel>
                                  <ng-template ngbPanelTitle >
                                    <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion1"
                                       class="card-title" >{{'FAQ.Q4' | translate}}</a>
                                  </ng-template>


                                  <ng-template ngbPanelContent>
                                    <p>{{'FAQ.A4' | translate}}</p>
                                  </ng-template>
                                </ngb-panel>

                                <ngb-panel>
                                  <ng-template ngbPanelTitle >
                                    <a data-toggle="collapse" aria-expanded="false" aria-controls="accordion1"
                                       class="card-title" >{{'FAQ.Q5' | translate}}</a>
                                  </ng-template>


                                  <ng-template ngbPanelContent>
                                    <p>{{'FAQ.A5' | translate}}</p>
                                  </ng-template>
                                </ngb-panel>
                              </ngb-accordion>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
